Flask==3.0.0
gunicorn==21.2.0
openpyxl==3.1.2
pandas>=2.2.0
Werkzeug==3.0.1
pytest==7.4.3
pytest-cov==4.1.0

Flask==3.0.0
numpy
openpyxl==3.1.2
pandas>=2.2.0
pytest==7.4.3
pytest-cov==4.1.0
requests
Werkzeug==3.0.1
formulas
xlcalculator
gunicorn
gunicorn
